

<!-- FOOTER -->
<div class="f-underline"></div>
<div id="f">
    <div class="container">
        <p id="f-t" class="footer-text text-right"><small> Copyright © 2005 - 2015 didi .  版权所有 蜀ICP备15018167号-1</small></p>
    </div>
    <!-- container -->
</div><!-- Footer -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery1.10.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper.jquery.min.js"></script>
<script src="assets/js/base.js"></script>
